# name: Build and Push

# on:
#   push:

# jobs:
#   docker:
#     runs-on: ubuntu-latest
#     steps:
#       -
#         name: Capture commit details
#         id: commit_details
#         run: |
#           github_sha_hash=${{ github.sha }}
#           github_sha_short="${github_sha_hash:0:7}"

#           echo "GitHub commit hash: ${github_sha_short}"
#           echo "github_sha_short=${github_sha_short}" >> $GITHUB_OUTPUT
#       -
#         name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}
#       -
#         name: Set up QEMU
#         uses: docker/setup-qemu-action@v3
#       -
#         name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3
#       -
#         name: Build and push
#         uses: docker/build-push-action@v6
#         with:
#           push: true
#           tags: ${{ secrets.DOCKERHUB_REPOSITORY }}-${{ steps.commit_details.outputs.github_sha_short }}